
.image{
	height: 400px;
	background-size: cover;
	background-repeat: none;
  	background-position: center;
    width: 100%;
    position: absolute;
}

.image2{
	height: 500px;
	background-size: cover;
	background-repeat: none;
  	background-position: center;
    width: 100%;
    position: absolute;
}

.moreworkdetail{
	background-color: #eee;
    height: 250px;  
    border-radius: 4px;
    background-size: cover;
    background-position: 50%; 
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;   
    align-items: center;
    position: relative;
    transition: box-shadow .3s;
    margin-top: 30px;
}
.moreworkdetail:hover{
  transition-duration: all 0.5s ease-in-out;
  opacity: 1;
  transform: scale(1.01);
}

#id{
	margin-top: 0px;
}
.funnowli li{
	margin-bottom: 20px;
}
.block{
	border:1px solid #949494;
	padding: .2rem .5rem;
	border-radius: .25rem;
}
.text{
	color:#4e5861;
	font-weight: 400;
	margin-top: .4rem;
	line-height: 2rem;
}
.side img{
	margin:0;
}
.grid {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 20px;
}
.font{
	margin-top: 40px;
}
.title{
	padding: 100px 0 0 0;
}
.title h2{
	margin: auto;
}
.subtitle{
	font-size: 16px;
	font-weight: 600;
	font-family: serif;	 
}
.sub_gap p{
	margin-bottom: 20px;
}

.detail .intro{
	position: relative;
	line-height: 30px;
	margin-top: px;
	color: #000000;
}
.detail h2{
	color: #000000;
	font-weight: 300;
	font-size: 50px;
	margin-bottom: 30px;
}
.description{
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	color: rgba(0,0,0,.4);
}
.view-project{
	text-align: center;
	color:blue;
	text-decoration: underline;
	margin: 100px;
}
h2{
	font-weight: 300;
	font-size: 30px;
}
h3{
	font-weight: 300;
}

.description h6{
	color:#000000;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 0px;

}
.description p{
	color: #000000;
	font-weight: 400;
	font-size: 10px;
	line-height: 25px;

}
.description{
	padding-bottom: 0px;
}


.finalpic{
	margin-bottom: 30px;

}

.buton{
	margin:0px 5px;
	background-color:#e0472f; 
}
.butondes{
	margin:0px 5px;


}
.process p{
	font-size: 16px;
	color: black;
	font-weight: 400;
}
.process span{
	font-weight: 800;

}
.spanstyle{
	margin-bottom: 10px;
}
 
.aso{
	height: auto;
	width: 100%;
} 

/*
.fling-minislide {width:600px; height:400px;  }
.fling-minislide img{ position:absolute; animation: fling-minislide 10s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {40%{opacity:1;} 90%{opacity:0;}} 
.fling-minislide img:nth-child(2){animation-delay:0s;}
.fling-minislide img:nth-child(1){animation-delay:5s;}*/